<h2> Edit Profile</h2>

<form [formGroup]="toDoForm">

    <div class="row">
      <div class="col-md-6">

        <br>

        <label>First Name</label>
        <font color="red">*</font>
        <input 
        type="text" 
        class="form-control"
        formControlName="firstName"
        
        />
 
        
        <br>

        <label>Last Name</label>
        <font color="red">*</font>
        <input 
        type="text" 
        class="form-control" 
        formControlName="lastName" 
        
        />

        <br>

        <label>Email</label>
        <font color="red">*</font>
        <input 
        type="text" 
        class="form-control"
        formControlName="email"
        
        />

        <br>

        <label>Telephone Number</label>
        <font color="red">*</font>
        <input 
        type="text" 
        class="form-control"
        formControlName="phoneNumber"
        
        />

        <br>

        <label>Password</label>
        <font color="red">*</font>
        <input 
        type="password"
        class="form-control"
        formControlName="password" 
        
        />

        <label>Confirm Password</label>
        <font color="red">*</font>
        <input 
        type="confirmPassword"
        class="form-control"
        formControlName="confirmPassword" 
        
        />

      </div>
      <div class="col-md-6">
      </div>
    </div>
    <br>
    
    <div class="row">
      <div class="col-md-6"><button class="btn btn-primary" [disabled]="!toDoForm.valid" (click)="save()"
          type="submit">Save</button></div>
    </div>
    <br>
    <br>
    <font color="red">* </font>
    <label>Required Field</label>  
  </form>
  